#Footer-container {
  position: sticky;
  width: 100%;
  background-color: hsl(233, 26%, 24%);
  z-index: 0;
}

#Footer {
  width: 80%;
  max-width: 1440px;
  padding: 40px 0;
  margin: 0 auto;
  justify-content: space-between;
}

#Footer-main {
  justify-content: space-between;
}

#Share-container {
  justify-content: space-between;
}

#Footer-detail {
  width: 60%;
  max-width: 750px;
  justify-content: space-between;
}

#Footer-request {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-start;
}

#Footer-request div {
  font-size: 14px;
}

.footer-content {
  margin: 0 5px;
}

#Share-container > svg > path {
  transition: 0.3s linear;
}

#Share-container > svg:hover path {
  fill: hsl(136, 65%, 51%);
  transition: 0.3s linear;
}

.footer-content p {
  font-size: 14px;
  color: hsl(220, 16%, 96%);
  margin: 8px 0;
  transition: 0.3s linear;
}

.footer-content p:hover {
  color: hsl(136, 65%, 51%);
  transition: 0.3s linear;
}

@media screen and (max-width: 765px) {
  #Footer {
    flex-direction: column;
  }

  #Footer-detail{
    flex-direction: column;
    width: 100%;
  }
  
  #Footer-main{
    margin: auto;
  }

  .footer-content p{
    text-align: center;
  }

  #Footer-request{
    align-items: unset;
  }

  #Footer-request div{
    text-align: center;
  }
  
  .request{
    margin: auto;
  }
}
